<!DOCTYPE html>
<html lang="se" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="container text-center">
    <h1>Svenska skidskyttar</h1>
    <hr/>
    <div class="d-flex justify-content-end">
      <p><a class="btn btn-outline-success" href="/login">Logga in</a></p>
    </div>
    <div class="justify-content-center">
      <h2>Här är en lista på de skidskyttar som ingår i det svenska landslaget kommande säsong.</h2>
      <h3>Klicka på namnen för att lära känna de lite mer: </h3>
        <div class="form-group">
          <div class="my-4">
            <h4><a href="/athlete?IBUId=BTSWE23103199501">Anna Magnusson</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE22207200001">Anna-Karin Heijdenberg</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE12701200101">Anton Ivarsson</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE22210199901">Ella Halvarsson</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE22602199901">Elvira Öberg</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE12503199701">Emil Nykvist</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE20211199501">Hanna Öberg</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE10310199201">Jesper Nelin</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE22706199401">Linn Persson</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE10404200001">Malte Stefansson</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE10809199501">Martin Ponsioluoma</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE21301200301">Sara Andersson</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE12803199701">Sebastian Samuelsson</a></h4>
            <h4><a href="/athlete?IBUId=BTSWE10807199901">Viktor Brandt</a></h4>
          </div>
        </div>
    </div>
    <div class="row mt-2">
      <h4>Om du vill jämföra skidskyttarnas framsteg:</h4>
        <p><a class="btn btn-outline-primary" href="/charts">Klicka här!</a></p>

      </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>